# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# ignore the diff
*.diff

# Docs
docs/

# Dotenv files
.env
.env.*
!.env.example
!.env.sample
node_modules

# Local environment files
web-wallet-demo/.env.local
.github/.env
